<!DOCTYPE html>
<html>
<head>
	<title>WeGrow</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- start google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!-- end google fonts -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="js/modernizr.js"></script>
	<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
	<%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
	<link rel="shortcut icon" href="https://s3.amazonaws.com/checkmybackdoor/images/How+To/wegrow.png">
</head>
<body>
	<div class="container-fluid">
		<%= render 'layouts/header' unless @disable_nav %>

		<%= yield %>
		<div style="padding-bottom:100px"></div>

		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
